/* General styles */
@font-face {
    font-family: CenturyGotnic;
    src: url(/fonts/CenturyGothicPaneuropeanRegular.ttf);
}

@font-face {
    font-family: AgencyFB;
    src: url(/fonts/agencyfb_reg.ttf);
}


html{
    scroll-behavior: smooth;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.logo {
    padding-left: 20px;
}

/* Header styles aka the navbar*/
.menu-icon {
    display: none;
  }

header {
    top: 0;
    background-color: #111111;
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: AgencyFB, Arial, sans-serif;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    margin-right: 50px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}

header nav a:hover {
    opacity: 0.6;
    color: #23F131;
}

.popup-overlay {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .web-banner {
    width: 70%;
    border: rgba(0, 180, 65, 0.6) solid 3px;
  }
  
  .popup {
    position: relative;
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    bottom: 18%;
    right: 22%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically */
    color: white;
    cursor: pointer;
    z-index: 1000;
    font-size: 20px;
    width: 220px;
    height: 70px;
    border: #00b441 solid 2.5px;
    color: #ffffff;
    background-color: transparent;
    transition: background-color 0.5s;
    font-family: CenturyGotnic;
    text-transform: uppercase;
}

  
  .close-btn:hover {
    background-color: #00b441;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  

/* Main styles | home */

.home img{
    height: auto;
    margin-bottom: -5px;
}

.mobileintro{
    display: none;
}



@-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



/* Content styles */
.divAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    color: white; 
    background: rgba(0, 0, 0, 0.8); 
    height: 100%;
    padding-top: 100px ;
    padding-bottom: 100px;
}

.aboutTitle{
    font-size: 60px;
    font-family: AgencyFB, Arial, sans-serif;
    line-height: 1; 
}

.text {
    text-align: justify;
    flex: 1; 
    padding-right: 30px;
    padding-left: 30px;
}

.contentAbout{
    font-family: CenturyGotnic, Arial, sans-serif;
}

.portimg-container {
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 80px;
}

.portimg-container img {
    max-width: 100%; 
    height: auto;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Adjust this value to set the desired space between buttons */
}

.aboutbuttons {
    font-family: CenturyGotnic, Arial, sans-serif;
    background-color: white;
    color: black;
    border: 2px solid #00b441;
    font-size: 20px;
    transition: all 0.5s;
    margin-top: 30px;
}

.aboutbuttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.aboutbuttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.aboutbuttons:hover span {
    padding-right: 25px;
}

.aboutbuttons:hover span:after {
    opacity: 1;
    right: 0;
}

.aboutbuttons:hover {
    background-color: #00b441;
    color: white;
}


/* Skills Checklist */
  .containerSkills {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: -1px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    background-size: 300% 300%;
  background-image: linear-gradient(90deg, #79912d 0%, #5c7f6d 25%, #274b35 51%, #201626 100%);
  -webkit-animation: AnimateBG 8s ease infinite;
          animation: AnimateBG 8s ease infinite;
  }

    .skilltitle{
    text-align: center;
    justify-content: center;
    margin: 5px;
    font-family: AgencyFB, Arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
    }

    .skilltitle h1{
        font-size: 60px;
    }

    .skilltitle p{
        font-size: 30px;
    }

  .skill {
    margin-bottom: 50px;
    font-family: CenturyGotnic, Arial, sans-serif;
  }

  .containerSkills .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
}
.containerSkills .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}

.containerSkills .row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: #242223;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: 	#00b441;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: white;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: black;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color:white;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: 	#00b441;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: 	#00b441;
}

/* projects */
.projecttitle {
    text-align: center;
    font-size: 60px;
    font-family: AgencyFB, Arial, sans-serif;
}

/* projects container */
#projects {
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    margin: 0;
    height: 100%;
    display: flex;
}

.mySlides {
    align-items: center;
    margin-bottom: 5px;
    height: 50%;
}

.textproject {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    flex: 1;
    font-family: CenturyGotnic, Arial, sans-serif;
}

.iconsproject {
    max-width: 50px;
}

.prev, .next {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-top: 100px;
}

.prev:hover, .next:hover {
  background-color: #00b441;
}

.buttons-container {
    text-align: center;
    margin-top: -160px;
}

.highlight-link {
    color: #fff;
}

/* CSS for the dots/bullets */
.dot-container {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #00b441;
}

.bottom-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-images img {
    width: 400px;
    height: auto;
    margin: 0 80px; 
    transition: transform 0.5s ease;
}

.bottom-images img:hover{
    transform: scale(1.7);
}

/* testimonials */

.testimonials{
    text-align: center;
    font-size: 60px;
    font-family: AgencyFB, Arial, sans-serif;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 90px;
}

#services{
justify-content: center;
    background-size: 300% 300%;
  background-image: linear-gradient(40deg, #79912d 0%, #5c7f6d 25%, #274b35 51%, #201626 100%);
  -webkit-animation: AnimateBG 8s ease infinite;
          animation: AnimateBG 8s ease infinite;
}

.services {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    padding-bottom: 90px;
}

 .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap:2rem;
 }
 
 .services .box-container .box{
    text-align: center;
    padding:2rem;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }

 
 .services .box-container .box h3{
    font-size: 30px;
    color:#00b441;
    font-family: AgencyFB, Arial, sans-serif;
 }
 
 .services .box-container .box p{
    text-align: justify;
    font-size: 15px;
    line-height: 2;
    font-family: CenturyGotnic, Arial, sans-serif;
 }

 .title-person {
    text-align: center;
    font-style: italic;
    font-family: CenturyGotnic, Arial, sans-serif;
 }
  

/* scroll to top */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #00b441;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out; 
    -o-transition: background-color 0.3s ease-in-out; 
}

#scrollTopBtn:hover {
    background-color: #90EE90;
}

/* footer */
footer {
    background-color: #111111;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: CenturyGotnic, Arial, sans-serif;
}

.footericon{
    color: #00b441;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeFromTop {
    from {
        opacity: 0;
        transform: translateY(-35%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 /* Mobile Styles */
@media screen and (max-width: 1024px) {
    body {
        background-image: url('/assets/bg.png');
        overflow-x: hidden;
    }

    .intro{
        display: none;
    }

    .mobileintro{
        display: block;
    }

    header {
        padding: 10px; /* Adjust padding for mobile header */
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .web-banner {
        display: block;
        width: 90%;
        border: #00b441 solid 1.5px;
        margin: 0 auto 10px;
      }

    .close-btn{
        bottom: 3%;
        width: 120px;
        height: 50px;
        right: 1%;
        font-size: 12px;
    }

    .logo-size {
        width: 75px;
        height: 75px;
        margin-left: 10px;
    }

    .menu-icon {
        display: block;
        margin-right: 10px; /* Adjust margin for smaller screens */
        margin-bottom: 2px;
        position: relative; /* Make the menu icon container relative */
    }
    
    .navbar {
        flex-direction: column;
        position: absolute;
        top: 13.5%;
        right: 0;
        background-color: #333333;
        z-index: 999;
        padding-bottom: 10px;
        text-align: center;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    .navbar.active {
        display: flex;
        animation-name: fadeFromTop; 
    }

    nav ul {
        flex-direction: column; /* Stack navigation items vertically for mobile */
        align-items: center; /* Center-align navigation items */
    }
    
    nav ul li {
        margin: 20px; /* Adjust the margin value as needed */
    }

    #scrollTopBtn {
        display: flex; /* Ensure the button is visible */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        padding: 10px;
    }

    .aboutbuttons,
    .aboutbuttons:hover {
        padding: 10px; /* Adjust padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
    }

    .divAbout {
        flex-direction: column; /* Stack about content vertically for mobile */
        padding-right: 30px;
        height: 125vh;
        padding-top: 10px ;
    }

    .aboutTitle {
        font-size: 30px; /* Adjust font size for mobile */
    }

    .text {
        padding: 10px; /* Adjust padding for mobile */
        margin-right: 0;
    }

    .portimg-container {
        margin-right: 1%; /* Adjust margin for mobile */
        margin-top: 20px;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
    
    .portimg-container img {
        max-width: 50%; /* Set maximum width to fill container */
        height: auto;
        padding-bottom: 200px;
    }
    
    .containerSkills {
        padding: 10px;
        position: relative;
        height: auto; /* Remove fixed height for mobile responsiveness */
    }
    
    .skilltitle {
        text-align: center;
        font-size: 20px;
        margin: 5px;
        font-family: AgencyFB, Arial, sans-serif;
    }

    .skilltitle h1{
        font-size: 40px;
    }

    .skills-container{
        padding-left: 30px;
        padding-right: 30px;
    }
   
    .containerSkills .row{
        margin-top: 0;
    }
    
    .row {
        flex-direction: column; /* Stack columns vertically on small screens */
        margin-top: 10px; /* Adjust margin for smaller screens */
    }
    
    .row .col {
        flex-basis: 100%; /* Make columns take full width on small screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }
    
    .row .sub-title h2::before {
        width: 100%; /* Make the horizontal line extend fully on small screens */
    }
    
    .row .sub-title h2::after {
        width: 100%; /* Make the colored line extend fully on small screens */
    }
    
    .subject {
        font-size: 16px; /* Decrease font size for smaller screens */
        padding-bottom: 10px; /* Adjust padding for smaller screens */
    }
    
    .progress-bar {
        height: 3px; /* Decrease progress bar height for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }
    
    .progress-bar::after {
        top: -25px; /* Adjust position for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }
    
    .progress-line::after {
        width: 10px; /* Decrease size of the circular indicator for smaller screens */
        height: 10px; /* Decrease size of the circular indicator for smaller screens */
    }
    
    .mySlides {
        padding: 10px; /* Adjust padding for mobile */
    }

    .textproject {
        margin-bottom: auto; /* Adjust margin for mobile */
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .bottom-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: none;
    }

    .bottom-images img {
        width: 100%;
        max-width: 150px; 
        margin: 5px; 
        transition: none;
    }

    .bottom-images img:hover{
        transform: none;
    }
    

    .projecttitle{
        font-size: 40px;
    }

    
    .dot-container,
    .buttons-container {
        text-align: center;
        margin-top: 120px;
    }
    
    .dot-container {
        top: 50px;
        position: relative;
        padding-top: 30px;
    }
    
    .dot {
        display: inline-block;
        margin: 0 5px;
    }

    .buttons-container{
        margin-top: -80px;
    }

    footer{
        text-align: left;
        font-size: 18px;
        padding-left: 75px;
        padding-right: 70px;
    }
}