/* General styles */
@font-face {
    font-family: CenturyGotnic;
    src: url(/fonts/CenturyGothicPaneuropeanRegular.ttf);
}

@font-face {
    font-family: AgencyFB;
    src: url(/fonts/agencyfb_reg.ttf);
}


html{
    scroll-behavior: smooth;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.logo {
    padding-left: 20px;
}

/* Header styles aka the navbar*/

section {
    padding-top: 70px; 
}

.menu-icon {
    display: none;
  }

header {
    top: 0;
    background-color: #111111;
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: AgencyFB, Arial, sans-serif;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    margin-right: 50px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}

header nav a:hover {
    opacity: 0.6;
    color: #23F131;
}

/* Main styles | home */
main {
    font-family: CenturyGotnic, Arial, sans-serif;
    padding: 10px; 
    background: rgba(32, 22, 38, 0.8);
    width: auto; 
    height: 100vh;
    
}

.home{
    padding-left: 30px;
    padding-top: 100px;
    font-size: 30px;
    animation: slide-in-bottom 1s ease forwards;
}

.resume{
    font-family: CenturyGotnic, Arial, sans-serif;
    background-color: white; 
    color: black; 
    border: 2px solid #00b441;
    font-size: 20px;
    transition: all 0.5s;
}

.resume span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .resume span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .resume:hover span {
    padding-right: 25px;
  }
  
  .resume:hover span:after {
    opacity: 1;
    right: 0;
  }

.resume:hover{
    background-color: #00b441;
    color: white;
}

/* Content styles */
.divAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: white; 
    background: rgba(0, 0, 0, 0.8); 
}

.aboutTitle{
    font-size: 60px;
    font-family: AgencyFB, Arial, sans-serif;
    line-height: 1.75; 
}

.text {
    text-align: justify;
    flex: 1; 
    padding-right: 50px;
    padding-left: 60px;
    margin-right: 20px;

}

.contentAbout{
    font-family: CenturyGotnic, Arial, sans-serif;
}

.portimg-container {
    margin-left: auto;
    margin-right: 100px;
}

.portimg-container img {
    max-width: 100%; 
    height: auto;
    width: auto;
}

/* Skills Checklist */
  .containerSkills {
    max-width: 100%;
    padding: 10px;
    position: relative;
    height: 100vh;
  }

    .skilltitle{
    text-align: center;
    font-size: 30px;
    margin: 5px;
    font-family: AgencyFB, Arial, sans-serif;
    }

  .skill {
    margin-bottom: 50px;
    font-family: CenturyGotnic, Arial, sans-serif;
  }

  .containerSkills .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
}
.containerSkills .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}

.containerSkills .row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: #242223;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: 	#00b441;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: white;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: black;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color:white;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: 	#00b441;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: 	#00b441;
}

/* projects */
.projecttitle {
    text-align: center;
    font-size: 60px;
    font-family: AgencyFB, Arial, sans-serif;
}

/* projects container */
#projects {
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    height: 87vh;
}

.mySlides {
    align-items: center;
    margin-bottom: 5px;
    height: 50vh;
}

.textproject {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1;
    font-family: CenturyGotnic, Arial, sans-serif;
}

.iconsproject {
    max-width: 50px;
    border-radius: 8px;
}

.prev, .next {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.prev:hover, .next:hover {
  background-color: #00b441;
}

.buttons-container {
    text-align: center;
}

.highlight-link {
    color: #fff;
}

/* CSS for the dots/bullets */
.dot-container {
    text-align: center;
    margin-bottom: 80px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #00b441;
}

.bottom-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-images img {
    width: 400px;
    height: auto;
    margin: 0 80px; 
    transition: transform 0.5s ease;
}

.bottom-images img:hover{
    transform: scale(1.7);
}

/* scroll to top */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #00b441;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out; 
    -o-transition: background-color 0.3s ease-in-out; 
}

#scrollTopBtn:hover {
    background-color: #90EE90;
}

/* footer */
footer {
    background-color: #111111;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: CenturyGotnic, Arial, sans-serif;
}

.footericon{
    color: #00b441;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
  
 /* Responsive */
 /* Mobile Styles */
@media screen and (max-width: 430px) {
    body {
        background-image: url('/assets/bg.png');
        overflow-x: hidden;
    }

    header {
        padding: 10px; /* Adjust padding for mobile header */
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .logo-size {
        width: 75px;
        height: 75px;
        margin-left: 10px;
    }

    .menu-icon {
        display: block;
        margin-right: 10px; /* Adjust margin for smaller screens */
        margin-bottom: 2px;
        position: relative; /* Make the menu icon container relative */
    }

    .navbar {
        flex-direction: column;
        position: absolute;
        top: 76%;
        right: 0;
        background-color: #333333;
        z-index: 999;
        padding-bottom: 30px;
        text-align: center;
        opacity: 0;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }

    .navbar.active {
        display: flex; 
        animation-name: fadeLeft; 
    }
  
    .navbar:not(.active) {
        display: flex; 
        animation-name: fadeRight; 
    }

    nav ul {
        flex-direction: column; /* Stack navigation items vertically for mobile */
        align-items: center; /* Center-align navigation items */
    }

    main {
        padding: 10px; /* Adjust padding for mobile content */
    }

    #scrollTopBtn {
        display: flex; /* Ensure the button is visible */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
    }

    .home {
        padding-left: 5%; /* Adjust padding for mobile screens */
        padding-top: 20px; /* Adjust padding for mobile screens */
        font-size: 16px; /* Adjust font size for mobile screens */
    }

    .resume,
    .resume:hover {
        padding: 10px; /* Adjust padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
    }

    .divAbout {
        flex-direction: column; /* Stack about content vertically for mobile */
    }

    .aboutTitle {
        font-size: 24px; /* Adjust font size for mobile */
    }

    .text {
        padding: 10px; /* Adjust padding for mobile */
        margin-right: 0;
    }

    .portimg-container {
        margin-right: 5%; /* Adjust margin for mobile */
    }

    .portimg-container img {
        max-width: 100%;
        height: auto;
    }

    .mySlides {
        padding: 10px; /* Adjust padding for mobile */
    }

    .textproject {
        margin-bottom: 10px; /* Adjust margin for mobile */
    }

    .bottom-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bottom-images img {
        width: 100%;
        max-width: 150px; /* Adjust max-width for smaller screens */
        margin: 5px; /* Add margin between images */
    }

    .dot-container,
    .buttons-container {
        text-align: center;
    }

    .dot,
    .prev,
    .next {
        display: inline-block;
        margin: 0 5px;
    }
}
